<div class="page-header small-banner banner-our-service">
  <div class="banner-masking">
    <div class="container">
      <div class="col-xs-12 col-sm-6 name no-padding-lr">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 small-banner-text p-l-50">
        <!--<ol class="breadcrumb">
          <li><%#= link_to "Home", root_path %></li>
            <li class="active">
              <%#= @service.permalink == 'mice' ? "M.I.C.E" : @service.permalink.humanize.titleize %>
            </li>
        </ol>
        <h2>WE PROVIDES</h2>
        <p>
          Our Highly motivated and experienced staffs will assist you to ensure 
          your tour program complete success!
        </p>
        -->
      </div>
    </div>
  </div>
</div>

<%= render :partial => "services/shared_menu" %>

<div class="service-background">
  <div class="container col-xs-12 service-container-one center-text" style="word-spacing: 5px;">
    <p>DOMESTIC AND INTERNATIONAL HOTELS PARTNER</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 ticket-list">
    <% @hotels.each do |hotel| %>
      <div class="col-sm-3">
        <%= image_tag hotel.logo.url(:thumb), class: "img img-responsive" %>
      </div>
    <% end %>
  </div>

</div>
