<div class="page-header small-banner mice">
  <div class="breadcrum-masking">
    <div class="container">
      <div class="col-xs-12 col-sm-4 name no-padding-lr">About Us</div>
      <div class="col-xs-12 col-sm-8 breadcrumb">
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path %></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 about-us">
    PT. AZORA INTERNASIONAL as a travel specialist company in Jakarta – Indonesia.<br />
    Having the experience of operating in the travel business since 2000,
    we can provide one stop solution to all your travelling needs.<br /><br /><br />
Our vision
- To be a leader in the travel industry by providing excellence services, relationship and profitability
- To provide quality services that exceed the expectations of our esteemed customers
Our mission
- To build long term relationships with our customers and clients and by providing exceptional customer services through innovation
Our Core values
- We believe in giving full satisfactions to all our customers
- We hope to evolve by creativity and innovation
- We uphold integrity, honesty, and satisfaction in providing our services
  </div>
</div>
