
<%= link_to raw("<img src='http://#{@domain}/assets/logo.png' alt='logo' />"), "http://#{@domain}" ,
            :target => "_blank"  %><br /><br /><br />

<p>
  Dear Mr/Mrs <%= @contact.name %>,
</p><br /><br /><br />
<p>
  Thank you for contacting AZORA Travel. We have received your message, we will give a reply to your questions. <br />
  Please feel free to contact us if there is anything we can help you with
</p><br /><br /><br />
<p>
  Thank You
</p><br /><br /><br /><br /><br />

<p>
  Yang Terhormat Bapak/Ibu <%= @contact.name %>,
</p><br /><br /><br />
<p>
  Terima kasih telah menghubungi AZORA Travel. Kami telah menerima pesan Anda, kami akan membalas pertanyaan Anda. <br />
  Silakan hubungi kami jika ada yang bisa kami bantu
</p><br /><br /><br />
<p>
  Terima Kasih
</p>


