
<%= link_to raw("<img src='http://#{@domain}/assets/logo.png' alt='logo' />"), "http://#{@domain}" ,
            :target => "_blank"  %><br /><br /><br />

<p>
  Yang Terhormat Bapak/Ibu <%= @contact.name %>,
</p><br /><br /><br />
<p>
  Terima kasih telah menghubungi kami. Pesan anda telah kami terima dan kami segera proses. <br />
  Silahkan tunggu maximal 1x24 jam. Petugas representative kami akan menghubungi anda
</p><br /><br /><br />
<p>
  Terima Kasih
</p>


